@import 'variable';

@font-face {
    font-family: mainText;
    src: url(../fonts/Libertad-Regular.otf);
}

body {
    font-family: mainText, sans-serif;
    letter-spacing: 1.2px;
    line-height: 1.8rem;
    color: $blackish;
}

@import 'header';
@import 'footer';

// general styling
.btn-main {
    padding: 12px 16px;
    border-radius: 5px;
    background-color: $orange;
    color: $white;
    border: 1px solid $orange;

    &:hover,
    &:focus {
        background-color: $white;
        color: $orange;
        border-color: unset;
    }
}

.btn-animated-main {
    padding: 12px 16px;
    border-radius: 5px;
    background-color: $orange;
    color: $white;
    display: block;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    border: 0;
    width: fit-content;

    span {
        z-index: 5;
        position: relative;
        transition: color 350ms ease;
    }

    &:hover,
    &:focus {
        box-shadow: 0 15px 35px #ED1C2426;
    }

    &:hover span,
    &:focus span {
        color: $blackish;
    }

    &::after,
    &::before {
        content: " ";
        display: block;
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        background: $cream;
        z-index: -1;
    }

    &::before {
        transform: translateX(-100%);
        z-index: 1;
    }

    &:hover:before,
    &:focus:before {
        transform: translateX(0);
        transition: transform 350ms ease;
    }

    &::after {
        z-index: 0;
        transform: translateX(100%);
        transition: none;
        transition: transform 350ms ease;
    }

    &:hover:after,
    &:focus:after {
        opacity: 1;
        transform: translateX(0);
        transition: transform 350ms 360ms ease;
    }
}

.btn-outline-main {
    padding: 12px 16px;
    border-radius: 5px;
    background-color: $orange;
    color: $white;
    border: 1px solid $white !important;

    &:hover,
    &:focus {
        background-color: $white;
        color: $orange;
    }
}

.mainheading {
    font-weight: bold;
    text-transform: uppercase;
    color: $orange;
}

.orangetext {
    color: $orange;
}

//! index.html

// carousel
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparentize(#f2f2f2, 0.3), transparentize(#f2f2f2, 0.3));
}

.hero-slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .carousel-cell {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .inner {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 70%;
            color: $orange;
            padding: 0 10rem;

            .subtitle {
                font-size: 2rem;
                line-height: 1.2em;
                letter-spacing: 3px;
                color: $orange;
                margin-bottom: 2rem;
                font-weight: 100 !important;
            }

            .title {
                font-size: 5rem;
                line-height: 1.2em;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-weight: 900;
            }

            .animated-text {
                opacity: 0; // Initially hidden
                animation: fadeInLeft 1s ease-in-out forwards;
            }
        }
    }

    .swiper-pagination {
        text-align: right;
        transform: translateX(-3%);

        .swiper-pagination-bullet {
            height: 15px;
            width: 15px;
            border-radius: 0;
            background-color: $white;
            opacity: .5;
        }

        .swiper-pagination-bullet-active {
            background-color: $orange;
            opacity: 1;
        }
    }

    @keyframes fadeInLeft {
        from {
            opacity: 0;
            transform: translateX(-100%);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @media only screen and (max-width: 992px) {
        .carousel-cell {
            .inner {
                width: 100%;
            }
        }
    }

    @media only screen and (max-width: 650px) {
        .carousel-cell {
            .inner {
                padding: 0 5rem;
            }
        }
    }

    @media only screen and (max-width: 500px) {
        .carousel-cell {
            .inner {
                padding: 0 3rem;

                .subtitle {
                    font-size: 1rem;
                }

                .title {
                    font-size: 2rem;
                }
            }
        }
    }
}

// request a proposal
#requestProposal {

    .accordion-button,
    .accordion-collapse {
        background-color: $orange;
        color: $white;
    }

    .accordion-button {
        font-size: 2rem;
        font-weight: bolder;
        letter-spacing: 1.3px;
        outline: none;
        box-shadow: none;
        flex-direction: row-reverse;
        justify-content: start;

        &::after {
            display: none;
        }
    }

    #open {
        background: $white;
        height: 4.5px;
        width: 20px;
        position: relative;
        float: right;
        border-radius: 15px;
        margin-right: 10px;
    }

    #closed {
        background: $white;
        height: 20px;
        position: absolute;
        width: 4.0px;
        top: -7px;
        left: 8.1px;
        border-radius: 15px;
        transition: .1s opacity ease-in-out;

        @media only screen and (max-width: 370px) {
            & {
                left: 6px;
            }
        }
    }

    .accordion-button:not(.collapsed) #closed {
        opacity: 0;
    }

    .accordion-collapse {
        border-top: 1px solid $white;
    }
}

// general form styling
.form-floating {

    input,
    select,
    textarea {
        box-shadow: none !important;

        &:focus,
        &:active {
            border: 1px solid $orange;
        }
    }

    textarea {
        resize: none !important;
        min-height: 8rem;
    }

    label {
        color: $blackish;
    }
}

// our services home page
.parallax {
    background: url('../images/ourservicesbg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.our-service-card {
    transition: .1s all ease-in;

    .services-img {
        height: 70px;
        width: 70px;
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;

        img {
            width: 40px;
            height: 40px;
        }
    }

    ul {
        list-style: none;

        li {
            position: relative;
            padding-left: 2rem;
            transition: .1s all ease-in;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0.5rem;
                width: 1rem;
                height: 1rem;
                background: url('../images/right-arrow.svg') no-repeat center;
                background-size: contain;

                // Apply filters if needed
                filter: invert(39%) sepia(74%) saturate(1200%) hue-rotate(7deg) brightness(94%) contrast(98%);
            }
        }
    }

    &:hover,
    &:focus {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        li {
            color: $orange;
        }
    }
}

#our-history {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 12rem !important;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $orange;
        border-radius: 0 0 50% 50% / 0 0 100% 100%;
        transform: scaleX(2);
        z-index: -100;
    }

    h3,
    p {
        color: $white;
    }

    h3 {
        font-weight: 800;
    }
}

// service counting home page
#services-counting {
    color: $orange;
    background-color: $white;
    margin-top: -7rem;

    h2 {
        font-weight: 900;
        font-size: 3rem !important;
    }

    @media only screen and (max-width: 992px) {
        h2 {
            font-size: 2rem !important;
        }
    }

    @media only screen and (max-width: 768px) {
        & {
            margin-top: -10rem;
        }
    }
}

// upcoming home page
#upcoming-events {
    background-image: url('../images/team-bg.jpg');
    background-repeat: no-repeat;
    // background-size: cover;

    .carousel-wrap {
        position: relative;

        .owl-nav {
            display: flex !important;
            justify-content: space-between !important;
            position: absolute;
            width: 100%;
            top: 40%;

            i {
                font-size: 30px;
            }

            .owl-prev {
                margin-left: -2rem;
            }

            .owl-next {
                margin-right: -2rem;
            }
        }
    }
}

.event-card {
    img {
        border: 1px solid $orange;
        border-radius: 5px;
    }
}

// follow us home page
#follow-us {
    .orangebgdiv {
        background-color: $orange;
        padding: 5rem;

        .mainheading {
            color: $white;
            font-weight: 800;
            font-size: 2.5rem;
        }

        li a {
            text-decoration: none;
            color: $white;
            font-size: 2.5rem;
        }
    }
}

// general breadcrums
#breadcrums {
    background-image: url('../images/breadcrumsbg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

// back to top
.progress-wrap {
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px $cream;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.progress-wrap::after {
    position: absolute;
    font-family: 'unicons';
    content: '↑';
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    color: $orange;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap:hover::after {
    opacity: 0;
}

.progress-wrap::before {
    position: absolute;
    font-family: 'unicons';
    content: '↑';
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    opacity: 0;
    color: $orange;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap:hover::before {
    opacity: 1;
}

.progress-wrap svg path {
    fill: none;
}

.progress-wrap svg.progress-circle path {
    stroke: $orange;
    stroke-width: 4;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}


// other pages imports
@import 'aboutRX';
@import 'ourmanagement';
@import 'services';
@import 'contact';
@import 'gallery';